{% extends 'blog/base.html' %}
{% load static %}
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   <script src="https://kit.fontawesome.com/e291fdc64a.js" crossorigin="anonymous"></script>
   <link rel="icon" href="{% static 'images/favicon.ico' %}">

</head> -->
{% block content %}
<body>
    <h4 class="text-center alert alert-info" style="border: none; padding: 2rem 2rem;">Contact form</h4>
    <div class="contact" style=" margin:auto; width: 70%">
    <div class="row justify-content-center"  style="padding:1rem">
        <div class=" col-sm-4">
           
    <form method="post " class="d-inline" action="mailto: shashankhr06@gmail.com">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"  class="btn btn-success " value="Submit">
    </form>
    <a href="{% url 'back'%}"  class="btn btn-info ">Back to Home</a>

    </div>
    </div>
</div>


    <!-- <footer class="white-section" id="footer">
        <div class="container-fluid">
          <i class="social-icon fab fa-facebook-f"></i>
          <i class="social-icon fab fa-twitter"></i>
          <i class=" social-icon fa-brands fa-instagram"></i>
          <i class="social-icon fas fa-envelope"></i>
          <p>© Copyright 2018 Colabs</p>
        </div>
      </footer> -->
    
</body>
<footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="http://www.facebook.com" i class="social-icon fab fa-facebook-f"></a>
      <a href="http://www.twitter.com" i class="social-icon fab fa-twitter"></a>
      <a href="http://www.instagram.com"> <i class=" social-icon fa-brands fa-instagram"></i></a>
      <p>© Copyright 2023 Colabs</p>
    </div>
  </footer>
  
{% endblock %}
<!-- </html> -->
