{% extends 'blog/base.html' %}
{% load static %}
{% block content %}







    <!-- Main Content Area -->
    
    <div class="container my-5 d-grid gap-5 ">
      <div class="p-5 border  alert alert-info ">
        <p>
          {% for post in post_list %}
                <div class="alert alert-secondary">
        
                  <div class="date">
                    <p style="font-size:2rem; color:dimgrey"> <strong>{{post.title}}</strong>  </p>
                    <p >Published on: {{ post.published_date|date:"D M Y"}}</p>
                    <p> Publishing author : {{post.author}}</p>
                  </div>
                  <h3><a  href="{% url 'post_detail' pk=post.pk %}"><button class ="btn btn-primary"type="submit">Details</button></a></h3>
                    <!-- <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a> -->
                    {%  if request.user == post.author  %}
                    <div style="text-align:right;">
                  <h3><a class="btn btn-danger " href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove"> </span> Delete</a></h3>
                  </div>
                  
                  {% endif %}
                    
                </div>
            {% endfor %}
        </p>
      </div>
    </div>
    <div class="text-center">
    <a href="{% url 'back'%}"  class="btn btn-info text-center" >Back to Home</a>
  </div>

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="http://www.facebook.com" i class="social-icon fab fa-facebook-f"></a>
      <a href="http://www.twitter.com" i class="social-icon fab fa-twitter"></a>
      <a href="http://www.instagram.com"> <i class=" social-icon fa-brands fa-instagram"></i></a>
      <p>© Copyright 2023 Colabs</p>
    </div>
  </footer>
{% endblock content %}
