<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Successfull Submission!</h1>
    <a href="{% url 'index' %}">Back to home page</a>
</body>
<footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="http://www.facebook.com" i class="social-icon fab fa-facebook-f"></a>
      <a href="http://www.twitter.com" i class="social-icon fab fa-twitter"></a>
      <a href="http://www.instagram.com"> <i class=" social-icon fa-brands fa-instagram"></i></a>
      <p>© Copyright 2023 Colabs</p>
    </div>
  </footer>
</html>